extends ../layout

block content

    h1 Nouvelle utilisateur
    form(action='/user/' + user.id +"/patch", method='POST')

        .form-group
        label(for='firstname') Firstname
        input.form-control#firstname(type = 'text', name = 'firstname', value = user.firstname)

        .form-group
        label(for='username') Username
        input.form-control#username(type = 'text', name = 'username', value = user.username)

        .form-group
        label(for='lastname') Lastname
        input.form-control#lastname(type = 'text', name = 'lastname', value = user.lastname)


        input.btn.btn-primary(type='submit')
